.DS_Store
.owner
hudson.maven.MavenModuleSet.xml
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitSCM.xml
hudson.plugins.git.GitTool.xml
hudson.plugins.rake.Rake.xml
hudson.scm.CVSSCM.xml
hudson.scm.SubversionSCM.xml
hudson.tasks.Ant.xml
hudson.tasks.Mailer.xml
hudson.tasks.Maven.xml
hudson.tasks.Shell.xml
hudson.triggers.SCMTrigger.xml

identity.key

jobs/AndroidIntelliJStarter/builds/
jobs/AndroidIntelliJStarter/lastStable
jobs/AndroidIntelliJStarter/lastSuccessful
jobs/AndroidIntelliJStarter/nextBuildNumber
jobs/AndroidIntelliJStarter/scm-polling.log
jobs/AndroidIntelliJStarter/workspace/

nodeMonitors.xml

plugins/cvs*
plugins/maven*
plugins/ssh-slaves*
plugins/subversion*
plugins/ruby.hpi.disabled
queue.xml
queue.xml.bak
secret.key
updates/
userContent/
war/

Fingerprint\ cleanup.log
Workspace\ clean-up.log
com.cloudbees.jenkins.GitHubPushTrigger.xml
config.xml
users/
