.DS_Store
.owner
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
identity.key

jobs/AndroidIntelliJStarter/builds/
jobs/AndroidIntelliJStarter/lastStable
jobs/AndroidIntelliJStarter/lastSuccessful
jobs/AndroidIntelliJStarter/nextBuildNumber
jobs/AndroidIntelliJStarter/scm-polling.log
jobs/AndroidIntelliJStarter/workspace/

nodeMonitors.xml
queue.xml.bak
secret.key
updates/
userContent/
war/

